<%- include("partial/general_header") %>

    <main class="content px-3 py-2">
        <div class="container-fluid">
            <div class="mb-3">
                <h4>Monitoring</h4>
            </div>

            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.2136655954955!2d-10.762184326413408!3d6.276567825986544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xf0a031f15003a0b%3A0xa2add4b0e43be3!2sOrange%20Digital%20Center!5e1!3m2!1sen!2s!4v1730729666608!5m2!1sen!2s"
                    width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>

    <a href="#" class="theme-toggle">
        <i class="fa-regular fa-moon"></i>
        <i class="fa-regular fa-sun"></i>
    </a>

    <%- include("partial/footer") %>

        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/public/js/script.js"></script>
        </body>

        </html>